body{
    background-image: url(../assets/8d2be7ae-77fb-415b-b12f-47b647fb10c.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.mydiv{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.container{
    width: 320px;
    height: 400px;
    border: 2px solid rgb(206, 112, 112);
    border-radius: 10px;
    background-color:rgb(38, 30, 90);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
.div-img img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
   
}
.container h1{
    color: white;
}
.input-container {
    margin-bottom: 20px;
}

.input-icon {
    position: relative;
    display: inline-block;
}
.input-icon .icon {
    position: absolute;
    right: 5px;  
    width: 22px; 
    height: auto;
    padding-top: 5px;
}

.input-icon input {
    padding-right: 30px; 
    background-color: white;
    width: 250px;
    height: 25px;
    border-radius: 6px;
    border: 1px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
}
.input-container label{
    color: white;
    display: flex;
    justify-content: left;
    padding-left:13px;
    padding-bottom:10px;
}
.container button{
    background-color: rgb(206, 112, 112);
    width: 270px;
    height: 35px;
    border-radius:10px;
    border: 1px solid rgb(206, 112, 112);
    padding-top: 5px;
    padding-bottom: 5px;
    color:rgb(38, 30, 90);
    text-align: center;
    font-size: 15px;
}
.container p{
    color: white;
}
.container p .link {
    color: white;
}
.container .mylink{
    color: rgb(206, 112, 112);
    text-decoration: none;
    font-size: 18px;
}